*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
a,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  width: 1140px;
  min-height: 534px;
  gap: 30px;
  align-items: flex-end;
}

.result {
  min-height: 456px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list-container {
  display: flex;
  width: 399px;
  height: 298px;
  overflow: auto;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
}

.content__details {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 534px;
  flex-direction: column;
  align-content: flex-start;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title .content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.content__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.content__list-item {
  padding: 2px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 99px;
  object-fit: cover;
  object-position: center;
  flex-grow: 0;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  width: 196px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  width: 196px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  background-color: transparent;
  min-width: 225px;
  min-height: 27px;
  appearance: none;
  padding: 0;
  cursor: pointer; 
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: ' ';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  min-height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
  padding: 0;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 390px;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text,
.search-form__label-text:hover {
  border-bottom: 1px solid #fff;
}

.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox:active + .search-form__label-text,
.search-form__label-text:active {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}